h1, h2, h3, h4, h5, h6, label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

/* NAVBARS */
nav{
    border-bottom: 3px solid;
    border-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    align-items: center;
}

.logo{
    border: 1px solid ;
    background-image: url(https://picsum.photos/200);
    height: 50px;
    width: 125px;
    background-size: cover;
    margin-left: 42px;
}

.nav-container{
    display: flex;
    margin-right: 42px;
}

.nav-item{
    border: 3px solid ;
    padding: 12px;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-item[href="#"]{
    border-radius: 8px 0px 0px 8px;
}

.nav-item[href="#package"]{
    border-left: 0px;
    border-right: 0px;
}

.nav-item[href="#call"]{
    border-radius: 0px 8px 8px 0px;
}


/* 1ST PAGE */
.main-title{
    text-align: center;
    padding: 50px;
}

.main-title h1{
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 50px;
}

.main-title p{
    font-size: 1.5em;
    font-weight: 300;
    color: #555;
    margin-bottom: 0px;
  }

.first-page{
    display: flex;
    gap: 30px;
}

.review{
    border: 0px solid;
    height: 650px;
    width: 100%;
    margin-left: 30px;
}

.review-banner{
    border: 0px solid;
    border-radius: 8px 8px 8px 8px;
    padding-bottom: 70%;
    background-image: url(https://picsum.photos/1600/1200);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.review #comment{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.25em;
    font-style: italic;
}

.review-icon{
    border: 1px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    background-image: url(https://picsum.photos/50);
}

.review-user{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -20px;
}

.review-user #reviewer h3{
    margin-bottom: 2px;
}

.review-user #reviewer p{
    font-style: italic;
    color: grey;
    margin-top: 2px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    border: 0px solid;
    border-radius: 8px 8px 8px 8px;
    height: 650px;
    width: 100%;
    margin-right: 30px;
    background: lightgray;
}

.contact-form header{
    padding: 16px;
    align-self: center;
}

.contact-form h3{
    font-size: 2em;
}

.contact-form p{
    color: grey;
}

.form-group{
    align-self: center;
    width: 468.833px;
    height: 135px;
}

.form-group label{
    font-size: 1.25em;
    font-weight: bold;
    display: block;
    margin-top: 28px;
}

.form-group input, 
.form-group select{
    width: 448.833px;
    padding: 16px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid;
    border-color: grey;
    border-radius: 4px;
}

.form-group select{
    width: 476.833px;
    background-color: white;
}

.form-group button{
    width: 476.833px;
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 36px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}

.form-group button:hover {
    background-color: gray;
  }

